.leaflet-container{
    height: 100vh;
    width: 100%;
    z-index: 20;
}

@media only screen and (max-width: 768px) {
    .leaflet-right{
        display: none;
    }

    .carousel-container {
        width: 80vw;
        height: 40vh;
    }
}